<div class="header">

  <h1>Licznik zadań</h1>

  <ng-container *ngIf="tasksToDo.length > 0; else noTasks">
    <h2>Zadania do wykonania {{tasksToDo.length}}</h2>
  </ng-container>

  <ng-template #noTasks>
    <h2>Nie masz więcej zadań. Masz czas wolny!</h2>
  </ng-template>

  <input [(ngModel)]="task" type="text">
  <button (click)="addTask()">Dodaj</button>

</div>

<div style="display: flex;">

  <div class="zadania1">
    <h3>zadania do wykonania</h3>
    <div *ngFor="let task of tasksToDo; let i = index">
      <p>
        {{i}} {{task}}
      </p>
      <button (click)="remove(task)">Usuń</button>
      <button (click)="done(task)">Zrobiono</button>
    </div>
  </div>

  <div style="padding-left: 2rem;" class="zadania2">
    <h3>zadania wykonane</h3>
    <div *ngFor="let task of tasksDone; let i = index">
      <p>
        {{i}} {{task}}
      </p>
      <button>Usuń</button>
    </div>
  </div>

</div>
