<div class="header">
  <h1>
    {{title}}
  </h1>
  <p>
    Welcome on test page {{title | uppercase}} <br>
    The pi number is: {{pi | number}} <br>
    Today is: {{date}}<br>
    My dog is: {{showDog()}}<br>
    And He has: 4 <br>
  </p>

  <div>Dogs list</div>
  <div *ngIf="dogs.length > 0; then areDogs; else noDogs "></div>

  <ng-template class="list" #areDogs>
    <ul>
      <li *ngFor="let dog of dogs; let i = index">
        {{i}} {{dog.name}} {{dog.age}}
      </li>
    </ul>
  </ng-template>

  <ng-template #noDogs>
    <p>false</p>
  </ng-template>

  <div class="list without css">
    <ng-container *ngFor="let dog of dogs; let i = index">
      {{i}} {{dog.name}} {{dog.age}}
    </ng-container>
  </div>

  <div *ngFor="let day of days">
    <span [ngSwitch]="day">
      <ng-container *ngSwitchCase="'poniedziałek'">
        praca
      </ng-container>
      <ng-container *ngSwitchCase="'wtorek'">
        picie
      </ng-container>
      <ng-container *ngSwitchDefault>
        zamulanie
      </ng-container>
    </span>
  </div>

  <div>Data Binding</div>
  <div>
    <h3 [className]="colorClass">Angular property binding</h3>
    <img [src]="logoUrl" alt="fotografia">
    <input [maxLength]="maxLength" [value]="inputText" type="text">
    <button [disabled]="isDisabled" (click)="change()">Dodaj</button>
  </div>
</div>
